@import "tailwindcss";

:root {
  font-size: 12px;

  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.css-k7lbue {
  background-color: #353535 !important;
}
.css-11knh3z {
  color: #f0f0f0 !important;
}

.css-qa4clq {
  color: #f0f0f0 !important;
}

.css-qa4clq :where(p:not(.sb-anchor, .sb-unstyled, .sb-unstyled p)) {
  color: #f0f0f0 !important;
}
.css-p1dfi6 {
  background: #252525 !important;
}
.css-v2ifgj th {
  background: #252525 !important;
  color: #f0f0f0 !important;
}

.css-s230ta {
  background: none !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 10px !important;
}

.css-l1e2yg {
  background: none !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 10px !important;
}
.css-hd7ysc {
  background: none !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 10px !important;
}

.css-v2ifgj tbody > tr > * {
  background: #353535 !important;
}
.css-jy82ux {
  color: #f0f0f0 !important;
}

.css-qa4clq :where(h3:not(.sb-anchor, .sb-unstyled, .sb-unstyled h3)) {
  color: #f0f0f0 !important;
}

.sbdocs-preview {
  background: none !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 10px !important;
}

.css-v2ifgj.css-v2ifgj {
  color: #f0f0f0 !important;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 10px !important;
}

@layer theme, base, components, utilities;

@theme {
  --font-sans: "Pretendard Variable";

  --color-black-100: #3f3f3f;
  --color-black-200: #3e3e3e;
  --color-black-300: #3c3c3c;
  --color-black-400: #383838;
  --color-black-500: #333333;
  --color-black-600: #282828;
  --color-black-700: #252525;
  --color-black-800: #241f1a;
  --color-black-900: #151515;

  --color-gray-100: #f0f0f0;
  --color-gray-200: #d3d3d3;
  --color-gray-300: #9e9e9e;
  --color-gray-400: #919191;
  --color-gray-500: #707070;
  --color-gray-600: #606060;
  --color-gray-700: #505050;
  --color-gray-800: #404040;
  --color-gray-900: #303030;

  --color-cyan-100: #00e1e9;
  --color-cyan-200: #00ced6;
  --color-cyan-300: #00a7ae;
  --color-cyan-400: #00696d;
  --color-cyan-500: #005255;
  --color-cyan-600: #32555d;
  --color-cyan-700: #003638;
  --color-cyan-800: #002931;

  --shadow-menu-primary: 0 0 3px #005255;

  --color-orange-500: #ff5f00;
  --color-orange-700: #9e3b00;

  --color-yellow-500: #ffcc00;

  --color-text-primary: #f0f0f0;
  --color-text-secondary: #acacac;

  --color-progress-start: #005255;
  --color-progress-end: #00ced6;

  --animate-slideUpAndFade: slideUpAndFade 0.2s ease-in-out;
}

@keyframes slideUpAndFade {
  0% {
    /* opacity: 0; */
    transform-origin: top;
    transform: scaleY(0%);
  }
  50% {
    /* opacity: 1; */
    transform-origin: top;
    transform: scaleY(100%);
  }
}
